@font-face {
    font-family: "susovan";
    src: url(Plutur.ttf);
}
* {
    font-family: "susovan";
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(1, 1, 4, 0.679);
    background-blend-mode: lighten;
    z-index: 0.2;
}

.susovan {
    font-size: 3rem;
    display: flex;
    float: left;
    margin: 0px 0px 0px 30px;

    background: -webkit-linear-gradient(#ff0000, #ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home {
    padding: 0px 20px 0px 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.home:hover{
    color: #ff6a00;
    transition: 0.2s;
    
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}